
# React
# dependencies
/Web/webspa/node_modules/
/Web/webspa/.pnp
/Web/webspa/pnp.js
# testing
/Web/webspa/coverage
# production
/Web/webspa/build
# misc
/**/.DS_Store
/Web/webspa/.env.local
/Web/webspa/.env.development.local
/Web/webspa/.env.test.local
/Web/webspa/.env.production.local

/Web/webspa/npm-debug.log*
/Web/webspa/yarn-debug.log*
/Web/webspa/yarn-error.log*



#.Net Services
Services/**/.env
Services/**/*.rsuser
Services/**/*.suo
Services/**/*.user
Services/**/*.userosscache
Services/**/*.sln.docstates
Services/**/*.userprefs
Services/**/mono_crash.*
Services/**/[Dd]ebug/
Services/**/[Dd]ebugPublic/
Services/**/[Rr]elease/
Services/**/[Rr]eleases/
Services/**/x64/
Services/**/x86/
Services/**/[Ww][Ii][Nn]32/
Services/**/[Aa][Rr][Mm]/
Services/**/[Aa][Rr][Mm]64/
Services/**/bld/
Services/**/[Bb]in/
Services/**/[Oo]bj/
Services/**/[Ll]og/
Services/**/[Ll]ogs/
Services/**/.vs/
Services/**/Generated\ Files/
Services/**/[Tt]est[Rr]esult*/
Services/**/[Bb]uild[Ll]og.*
Services/**/*.VisualState.xml
Services/**/TestResult.xml
Services/**/nunit-*.xml
Services/**/[Dd]ebugPS/
Services/**/[Rr]eleasePS/
Services/**/dlldata.c
Services/**/BenchmarkDotNet.Artifacts/
Services/**/project.lock.json
Services/**/project.fragment.lock.json
Services/**/artifacts/
Services/**/.tye/
Services/**/ScaffoldingReadMe.txt
Services/**/StyleCopReport.xml
Services/**/*_i.c
Services/**/*_p.c
Services/**/*_h.h
Services/**/*.ilk
Services/**/*.meta
Services/**/*.obj
Services/**/*.iobj
Services/**/*.pch
Services/**/*.pdb
Services/**/*.ipdb
Services/**/*.pgc
Services/**/*.pgd
Services/**/*.rsp
Services/**/*.sbr
Services/**/*.tlb
Services/**/*.tli
Services/**/*.tlh
Services/**/*.tmp
Services/**/*.tmp_proj
Services/**/*_wpftmp.csproj
Services/**/*.log
Services/**/*.tlog
Services/**/*.vspscc
Services/**/*.vssscc
Services/**/.builds
Services/**/*.pidb
Services/**/*.svclog
Services/**/*.scc
Services/**/_Chutzpah*
Services/**/ipch/
Services/**/*.aps
Services/**/*.ncb
Services/**/*.opendb
Services/**/*.opensdf
Services/**/*.sdf
Services/**/*.cachefile
Services/**/*.VC.db
Services/**/*.VC.VC.opendb
Services/**/*.psess
Services/**/*.vsp
Services/**/*.vspx
Services/**/*.sap
Services/**/*.e2e
Services/**/$tf/
Services/**/*.gpState
Services/**/_ReSharper*/
Services/**/*.[Rr]e[Ss]harper
Services/**/*.DotSettings.user
Services/**/_TeamCity*
Services/**/*.dotCover
Services/**/.axoCover/*
Services/**/!.axoCover/settings.json
Services/**/coverage*.json
Services/**/coverage*.xml
Services/**/coverage*.info
Services/**/*.coverage
Services/**/*.coveragexml
Services/**/_NCrunch_*
Services/**/.*crunch*.local.xml
Services/**/nCrunchTemp_*
Services/**/*.mm.*
Services/**/AutoTest.Net/
Services/**/.sass-cache/
Services/**/[Ee]xpress/
Services/**/DocProject/buildhelp/
Services/**/DocProject/Help/*.HxT
Services/**/DocProject/Help/*.HxC
Services/**/DocProject/Help/*.hhc
Services/**/DocProject/Help/*.hhk
Services/**/DocProject/Help/*.hhp
Services/**/DocProject/Help/Html2
Services/**/DocProject/Help/html
Services/**/publish/
Services/**/*.[Pp]ublish.xml
Services/**/*.azurePubxml
Services/**/*.pubxml
Services/**/*.publishproj
Services/**/PublishScripts/
Services/**/*.nupkg
Services/**/*.snupkg
Services/**/**/[Pp]ackages/*
Services/**/!**/[Pp]ackages/build/
Services/**/*.nuget.props
Services/**/*.nuget.targets
Services/**/csx/
Services/**/*.build.csdef
Services/**/ecf/
Services/**/rcf/
Services/**/AppPackages/
Services/**/BundleArtifacts/
Services/**/Package.StoreAssociation.xml
Services/**/_pkginfo.txt
Services/**/*.appx
Services/**/*.appxbundle
Services/**/*.appxupload
Services/**/*.[Cc]ache
Services/**/!?*.[Cc]ache/
Services/**/ClientBin/
Services/**/~$*
Services/**/*~
Services/**/*.dbmdl
Services/**/*.dbproj.schemaview
Services/**/*.jfm
Services/**/*.pfx
Services/**/*.publishsettings
Services/**/orleans.codegen.cs
Services/**/Generated_Code/
Services/**/_UpgradeReport_Files/
Services/**/Backup*/
Services/**/UpgradeLog*.XML
Services/**/UpgradeLog*.htm
Services/**/ServiceFabricBackup/
Services/**/*.rptproj.bak
Services/**/*.mdf
Services/**/*.ldf
Services/**/*.ndf
Services/**/*.rdl.data
Services/**/*.bim.layout
Services/**/*.bim_*.settings
Services/**/*.rptproj.rsuser
Services/**/*- [Bb]ackup.rdl
Services/**/*- [Bb]ackup ([0-9]).rdl
Services/**/*- [Bb]ackup ([0-9][0-9]).rdl
Services/**/FakesAssemblies/
Services/**/*.GhostDoc.xml
Services/**/.ntvs_analysis.dat
Services/**/node_modules/
Services/**/*.plg
Services/**/*.opt
Services/**/*.vbw
Services/**/*.vbp
Services/**/*.dsw
Services/**/*.dsp
Services/**/*.ncb
Services/**/*.aps
Services/**/**/*.HTMLClient/GeneratedArtifacts
Services/**/**/*.DesktopClient/GeneratedArtifacts
Services/**/**/*.DesktopClient/ModelManifest.xml
Services/**/**/*.Server/GeneratedArtifacts
Services/**/**/*.Server/ModelManifest.xml
Services/**/_Pvt_Extensions
Services/**/.paket/paket.exe
Services/**/paket-files/
Services/**/.fake/
Services/**/.cr/personal
Services/**/__pycache__/
Services/**/*.pyc
Services/**/*.tss
Services/**/*.jmconfig
Services/**/*.btp.cs
Services/**/*.btm.cs
Services/**/*.odx.cs
Services/**/*.xsd.cs
Services/**/OpenCover/
Services/**/ASALocalRun/
Services/**/*.binlog
Services/**/*.nvuser
Services/**/.mfractor/
Services/**/.localhistory/
Services/**/.vshistory/
Services/**/healthchecksdb
Services/**/MigrationBackup/
Services/**/.ionide/
Services/**/FodyWeavers.xsd
Services/**/.vscode/*
Services/**/!.vscode/settings.json
Services/**/!.vscode/tasks.json
Services/**/!.vscode/launch.json
Services/**/!.vscode/extensions.json
Services/**/*.code-workspace
Services/**/.history/
Services/**/*.cab
Services/**/*.msi
Services/**/*.msix
Services/**/*.msm
Services/**/*.msp
Services/**/*.sln.iml
Services/**/.idea
Services/**/Makefile.in
Services/**/*.userprefs
Services/**/*.usertasks
Services/**/config.make
Services/**/config.status
Services/**/aclocal.m4
Services/**/install-sh
Services/**/autom4te.cache/
Services/**/*.tar.gz
Services/**/tarballs/
Services/**/test-results/
Services/**/*.dmg
Services/**/*.app
Services/**/.DS_Store
Services/**/.AppleDouble
Services/**/.LSOverride
Services/**/Icon
Services/**/._*
Services/**/.DocumentRevisions-V100
Services/**/.fseventsd
Services/**/.Spotlight-V100
Services/**/.TemporaryItems
Services/**/.Trashes
Services/**/.VolumeIcon.icns
Services/**/.com.apple.timemachine.donotpresent
Services/**/.AppleDB
Services/**/.AppleDesktop
Services/**/Network Trash Folder
Services/**/Temporary Items
Services/**/.apdisk
Services/**/Thumbs.db
Services/**/ehthumbs.db
Services/**/ehthumbs_vista.db
Services/**/*.stackdump
Services/**/[Dd]esktop.ini
Services/**/$RECYCLE.BIN/
Services/**/*.cab
Services/**/*.msi
Services/**/*.msix
Services/**/*.msm
Services/**/*.msp
Services/**/*.lnk
Services/**/*.swp
